.navbar-brand {
    display: block;
    text-align: center;
  }
  
  .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .instagram-icon {
    width: 124px;
    display: flex;
    align-items: center;
  }
  
   /* Estilo para los círculos */
   .circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        margin: 10px auto;
        position: relative;
      }
  
      /* Estilo para las imágenes dentro de los círculos */
      .circle img {
        width: 100%;
        height: auto;
      }
  
      /* Estilo para el rectángulo y texto en el centro */
      .centered-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
      }
  
   /* Estilo para los cuadrados con semicírculos */
   .circle {
        width: 200px;
        height: 300px;
        border-top-left-radius: 150px;
        border-top-right-radius: 150px;
          border-bottom-left-radius: 150px;
          border-bottom-right-radius: 150px;
  
          overflow: hidden;
        margin: 10px auto;
        position: relative;
      }
  
      /* Estilo para las imágenes dentro de los cuadrados */
      .circle img {
        width: 200%;
        height: auto;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
      }
  
      /* Estilo para el texto en el centro */
      .centered-text {
          background-color: #BD9F6B;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        color: white;
      }
  